[submodule "lib/module/homebrew"]
	path = lib/module/homebrew
	url = git://github.com/mxcl/homebrew.git
[submodule "lib/module/nuget"]
	path = lib/module/nuget
	url = git://github.com/mdavid/nuget.git
